<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update comment</title>
</head>
<body>

    
    <form action="{% url 'update_comment' comment.id %}" method="post">
        {% csrf_token %}
        <label for="title">Текст:</label>
        <input type="text" name="text" id="" required value="{{ comment.text }}">

        <button type="submit">Обновить комментарий</button>
    </form>

</body>
</html>